body{
    background-color: blue;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, blue, aqua);
	background-repeat: no-repeat;
	font-size: 1.2em;
	padding-bottom: 700px;

}

.container {
    width: auto;
    height: auto;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0 auto;
    background-color: white;
    color: black;
    opacity: 0.8;
    text-align: center;
}
